
nav
{
 border: 5px black;
 background-color: black;
 height: 30px;
}
a
{
    color: white;
    background-color: black;
  
}

footer 
{
    border: 5px black;
    background-color: black;
    height: 30px;
}

p
{
    display:inline;
   position: relative;
   bottom: 15px;
   right: 200px;
 padding-left: 500px;
    font-family:'Times New Roman', Times, serif;
    font-size: 30px;
}
article
{
    display: auto;
}
